
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
body{
    scroll-behavior: smooth;
    width: 100wv;
}
.header_section{
    position:sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_item{
    padding: 15px;
}
.nav_section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.nav_section_2{
    display: flex;
    flex-direction: column;
    position:fixed;
    width:0;
    height: 100vh;
    background-color: white;
    overflow: hidden;
    transition: width .2s ease-in-out;
}
.nav_section_2 .nav_item{
    padding: 15px;
    text-decoration: none;
    color: black;
    width: 90%;
    margin:4px auto;
    border-radius: 10px;
}
.nav_section_2 .nav_item:hover{
    background-color: #ebebeb;
}
.nav-icon{
    margin: 1rem;
   
}
.header_item .nav_item{
    font-size: larger;
    text-decoration: none;
    color: black;
}
.nav_item:hover{
    color: blue;
}

.landding_page{
    display: block;
    height:60vh;
    width: 100wh;
    background-image: url('./image/health3.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-sizing: content-box;
    /* animation:landding_animation 20s infinite; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;

}
.landding_page h1{
    color:#480c01;
    opacity: 2;
    font-size:2rem;
}
.landding_page p{
    text-align: center;
    padding: 20px;
    color: white;
    opacity: 2;
    font-size: larger;
}
.footer_landding{
    padding: 20px;
    background-color: lightblue;
    width: 100%;
    text-align: center;
    font-size:2.3rem;
    color: rgb(119,135,11);
}
.about_section{
  width: 100%;
  background-image: linear-gradient(rgb(110, 110, 255), white, rgb(110, 110, 255), white,rgb(110, 110, 255), white, rgb(110, 110, 255));
}
.manage{
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 2rem;
}
:where(h1, p, ul){
    padding: 10px;
}
.about p {
    font-size: 1.2rem;
}

.about ul{
    padding: 30px;
}
.about ul li{
    padding: 10px;

}

@keyframes landding_animation{
    0%{
        background-image: url('./image/orfane1.jpg');
    }
    25%{
        background-image: url('./image/orfane2.jpg');
    }
    50%{
        background-image: url('./image/orfane3.jpg');
    }
    75%{
        background-image: url('./image/orfane4.jpg');
    }
    100%{
        background-image: url('./image/health3.jpg');
    }
    
}
.projects{
    display: flex;
    align-items:center;
    padding: 10px;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.projects .poject_items{
    display: flex;
    min-width:25rem;
    width:42rem;
    gap: 1rem;
    align-items:center;
    justify-content: center;
    padding: 10px;
    background-color: #ebebeb;
    border-radius:10px;
}
.poject_items .project_detials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
}

.font-size-2_5{
    font-size: 2.5rem;
}
.project_detials img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 4px solid black;
}

button{
    width: 8rem;
    padding:8px;
    background-color: green;
    border-radius: 20px;
    outline: none;
    border: none;
    color:white;
    cursor: pointer;
}
.join{
    width: 100%;
    background-color: yellow;
}

.donate{
    width: 100%;
    background-image: linear-gradient(rgb(124 123 123), rgb(234, 234, 234) ,rgb(124 123 123), rgb(234, 234, 234) ,rgb(124 123 123));
}

.footer{
    width: 100%;
    padding: 10px;
    font-size: 1.3rem;
    text-align: center;
    background-color: black;
    color: white;
}
.poject_items:hover{
    box-shadow: 0 0 0.1rem 0.1rem rgb(0,0,1);
}

.qrcode{
    height: 30rem;
   width: 20rem;
}
.donateHeader{
    width: 30rem;
    min-width: 20rem;
    text-align: center;
    font-size: 2.5rem;
    border-bottom: 4px solid white;
}
.contect{
    width: 100%;
    background-color:#ebebeb;
}

.contect div ul li{
    padding: 10px;
    font-size:1.3rem;
}
.instaqrcode{
    width: 20rem;
    height: 25rem;
    display: block;
    padding: 10px;
    border-radius: 30px;
}





@media screen and(max-width:600px) {
    .header_item h1{
        font-size: 1.3rem;
    }
    .header_item  p{
        font-size: 1rem; 
    }
}
@media screen and (max-width:1000px){
    .header_section{
        justify-content: space-between;
    } 
}


